*{
    margin:0;
    padding: 0;
}
.container1 {
    width: 400px;
    height: 40vh;
    margin: 8px auto;
    margin-top: 0;
    border-radius: 3rem;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    position:relative;
    color:beige;
    background-repeat: no-repeat;
    background-position: right;
    
}

#audio{
right:12vw;

}

img {
    width: 9vw; 
    animation: float 1s linear infinite;
    transform-origin: 50% 50%;
   }
   
   @keyframes float {
    33.33333% { transform: translateY(-15px) }
   }

h1{
    font-size: 80px;
    text-shadow: brown;
    font-weight: 1000;  
    margin-bottom: 30px;
    text-shadow:2px 2px black;
    padding: 30px;
}

.button2 {
        font-size: 40px;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: black;
        width: 25vh;
        background: rgb(146, 178, 32);
        border: 2px solid;
        border-color: darkgreen;
        margin-top: 5rem;
        border-radius: 50%;
        padding : 20px;
        transform: rotate(360deg);
        box-shadow: darkgreen 3px 4px;
        cursor: pointer;
    }

.button2:hover{
        color: white;
    }
    