*{
    margin:0;
    padding: 0;
}
.container1 {
    width: 400px;
    height: 30vh;
    margin: 2px auto;
    border-radius: 3rem;  
    text-align: center;
    text-decoration: none;
    position:relative;
    color:beige;
    background-repeat: no-repeat;
    background-position: right;
    top: 0;
    
}


img {
    width: 130px; 
    bottom: 10vw;
    top: 0;
    animation: float 1s linear infinite;
    transform-origin: 50% 50%;
   }
   
   @keyframes float {
    33.33333% { transform: translateY(-15px) }
   }

h1{
    font-size: 80px;
    text-shadow: brown;
    font-weight: 1000;  
    text-shadow:2px 2px black;
    padding: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.button2 {
        font-size: 40px;
        text-align: center;
        text-decoration: none;
        color: black;
        background: rgb(146, 178, 32);
        border: 2px solid;
        border-color: darkgreen;
        margin-top: 50px;
        border-radius: 50%;
        padding : 20px;
        transform: rotate(360deg);
        box-shadow: darkgreen 3px 4px;
        cursor: pointer;
    }

.button2:hover{
        color: white;
    }
    